PROJECT_NAME="Checoid API"
VERSION="0.3.0"
DESCRIPTION="Smart Fiscal Receipt Digitalization Backend"

DATABASE_URL="postgresql+asyncpg://postgres:your_password@localhost:5432/checoid"

SECRET_KEY="PASTE HERE YOU TOKEN WITH 32 CHARACTERS LONG"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

STORAGE_BACKEND=split
# STORAGE_BACKEND=local
# AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net"
# AZURE_CONTAINER_NAME=receipts
# PUBLIC_API_BASE_URL=https://api.example.com