__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

*.pt
*.onnx
*.pdparams
/models/

*.jpg
*.jpeg
*.png
/test_images/
/data/

.ipynb_checkpoints/

.idea/
.vscode/
.DS_Store
Thumbs.db

*.sqlite3
*.db
*.log
